<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.rest.model.mapper.RestMapper">


	<select id="selectAll" resultMap="rest">
		select rest_id, rest_name, road_direction, lat, lng, convenience_facility, best_food, phone_number
		from rest_area_tb;
	</select>

	<resultMap type="RestDto" id="rest">
		<result column="rest_id" property="restId" />
		<result column="rest_name" property="restName" />
		<result column="road_direction" property="roadDirection" />
		<result column="lat" property="lat"/>
		<result column="lng" property="lng"/>
		<result column="convenience_facility" property="convFacility" />
		<result column="best_food" property="bestFood" />
		<result column="phone_number" property="phoneNum" />

	</resultMap>
</mapper>