<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.plan.model.mapper.PlanMapper">

	<resultMap type="PlanDto" id="plans">
		<result column="plan_id" property="planId"/>
		<result column="u_id" property="userId"/>
		<result column="plan_title" property="planTitle"/>
		<result column="plan_content" property="planContent"/>
		<result column="plan_date" property="planDate"/>
		<result column="like" property="likeCnt"/>
	</resultMap>
	<resultMap type="PlanDetailDto" id="planDetail">
		<result column="pd_id" property="planDetailId"/>
	 	<result column="attr_id" property="attractionId"/>
	 	<result column="rest_id" property="restAreaId"/>
	 	<result column="order" property="planOrder"/>
	</resultMap>
	
	<!-- 	전체 플랜 읽어오기 -->
	<select id="listPlan" resultMap="plans">
		select plan_id, pb.u_id, plan_title, plan_content, 
		case when date_format(plan_date, '%Y%m,%d') = date_format(now(), '%Y%m%d')
		then date_format(plan_date, '%H:%i:%s')
		else date_format(plan_date, '%y.%m.%d')
		end plan_date, 
		pl.like
		from plan_board_tb pb left outer join plan_like_tb pl
		on pb.plan_id = pl.p_id and pb.u_id = pl.u_id
	</select>
	
	<!-- 상세플랜: 선택된 한 유저의 글, 댓글, 좋아요 수, 상세플랜(plan_tb) -->
	
	
	
	

</mapper> 